.box{
    height: 100px;
    width: 300px;
    background-color: violet;
    /* animation-name:   width;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: color 4s ease-out 1s infinite alternate;
}
@keyframes fontsize {
    from{
        font-size: 20px;
    }
    to{
        font-size: 50px;
    }
}
@keyframes color {
0%{
        background-color: aqua;
    }
    25%{
        background-color: red;
    }
    50%{
        background-color: blueviolet;
    }
    100%
    {
        background-color: yellow;
    }
    
}
@keyframes width {
    from{
        width: 50px;
        background-color: aqua;
    }
    to{
        width: 500px;
        background-color: blueviolet;
        border-radius: 20px;
    }
}